<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 mat-dialog-title style="text-align: center;float: left;margin-left: 10px;font-size: 30px;">{{examQuizName}}</h2>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label class="switch" *ngIf="isLocked == true">
                        <input type="checkbox" checked=true (click)="checkCheckBoxvalue($event)">
                        <span class="slider round"></span>
                    </label>
                    <label class="switch" *ngIf="isLocked == false">
                        <input type="checkbox" (click)="checkCheckBoxvalue($event)">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="col-md-6">
                    <mat-checkbox 
                    #checkbox (change)='showOptions(checkbox.checked)' style="margin-top: 17px;padding-left: 15px;" [(ngModel)]="isFinalQuiz">
                    Is Final Quiz
                    </mat-checkbox>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 10px 0px;" *ngIf="data.examQuizList.length > 0">
        <mat-form-field style="width: 100%; padding: 0px 15px;">
            <input  matInput [(ngModel)]="examQuizName" placeholder="Entet Quiz Name"> 
        </mat-form-field>
    </div>
</div>
<mat-dialog-content class="mat-typography" *ngIf="data.examQuizList.length > 0">
    <div class="container">
        <div class="quizzwrap" *ngFor="let examQuiz of data.examQuizList, let i=index">
            <div class="quizzheader">
                <div class="quizicon">
                <span><i class="fa fa-question"></i></span>
                <h5>Question {{i+1}}</h5>
                </div>
                <i class="fa fa-trash" style="font-size: 20px; float: left; padding: 15px 15px;color: red;cursor: pointer;" (click)="deleteExamQuiz(examQuiz.quizId)"></i>
            </div>
            <h2>{{examQuiz.examQuestion}}</h2>
            <hr>
            <div class="answer">
                <div class="row">
                    <ng-container>
                    <div class="col-lg-6" *ngIf="examQuiz.examOption1 != null">
                        <div class="answerstring" > 
                            <span *ngIf="examQuiz.examIsCorrect == '1'"><i class="fa fa-circle true"></i><p class="answertext"> {{examQuiz.examOption1}}</p></span>
                            <span *ngIf="examQuiz.examIsCorrect != '1'"><i class="fa fa-circle"></i><p class="answertext"> {{examQuiz.examOption1}}</p></span>
                        </div>
                    </div>
                    </ng-container>
                    <ng-container>
                        <div class="col-lg-6" *ngIf="examQuiz.examOption2 != null">
                            <div class="answerstring" > 
                                <span *ngIf="examQuiz.examIsCorrect == '2'"><i class="fa fa-circle true"></i><p class="answertext"> {{examQuiz.examOption2}}</p></span>
                                <span *ngIf="examQuiz.examIsCorrect != '2'"><i class="fa fa-circle"></i><p class="answertext"> {{examQuiz.examOption2}}</p></span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="col-lg-6" *ngIf="examQuiz.examOption3 != null">
                            <div class="answerstring" > 
                                <span *ngIf="examQuiz.examIsCorrect == '3'"><i class="fa fa-circle true"></i><p class="answertext"> {{examQuiz.examOption3}}</p></span>
                                <span *ngIf="examQuiz.examIsCorrect != '3'"><i class="fa fa-circle"></i><p class="answertext"> {{examQuiz.examOption3}}</p></span>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="col-lg-6" *ngIf="examQuiz.examOption4 != null">
                            <div class="answerstring" > 
                                <span *ngIf="examQuiz.examIsCorrect == '4'"><i class="fa fa-circle true"></i><p class="answertext"> {{examQuiz.examOption4}}</p></span>
                                <span *ngIf="examQuiz.examIsCorrect != '4'"><i class="fa fa-circle"></i><p class="answertext"> {{examQuiz.examOption4}}</p></span>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        </div>
</mat-dialog-content>
<mat-dialog-content class="mat-typography" *ngIf="data.examQuizList.length == 0" style="padding: 10px 0px; text-align: center;">
    <h3>You don't have any question yet</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="nosave()">Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="save()" cdkFocusInitial>Save</button>
</mat-dialog-actions>
