.container{
    position:relative;
    text-align:center;
}

.centered {
    position: absolute;
    width:400px;
    top: 34%;
    left: 30%;
    font-size: 16px;
    /*transform: translate(-30%, -50%); */
}
