<section class="slider-area slider-area2">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2">
              <h1 data-animation="bounceIn" data-delay="0.2s">{{course.courseName}}</h1>
              <!-- breadcrumb Start-->
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="" style="color: #fff;">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="../" style="color: #fff;">Category</a></li>
                <li class="breadcrumb-item"><a routerLink="/category/{{id}}" style="color: #fff;">{{course.courseName}}</a></li>
              </ol>
              <!-- breadcrumb End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="tdtopic">Created Date: {{StartDate}}</h2>
      <h2 class="tdtopic">Main Topic</h2>
      <mat-accordion *ngIf="!bought">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngFor="let topic of topicdataset; let i = index" [style.background]="topic.isLocked ? '#666' : null">
          <mat-expansion-panel-header (click)="buyalert()" *ngIf="topic.isLocked">
            <mat-panel-title [style.color]="topic.isLocked ? '#fff' : null">
              Topic {{i+1}}: {{topic.topicTitle}} 
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-expansion-panel-header (click)="getsubtopics(topic.topicId)" *ngIf="!topic.isLocked">
            <mat-panel-title [style.color]="topic.isLocked ? '#fff' : null">
              Topic {{i+1}}: {{topic.topicTitle}} 
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngFor="let subtopic of subtopicdataset,let i = index" [ngStyle]="{'background':topic.isLocked ? '#666' : null,'color':topic.isLocked ? '#333' : null}">Subtopic {{i+1}}: {{subtopic.subTopicTitle}}</p>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion *ngIf="bought">
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
          *ngFor="let topic of topicdataset; let i = index" >
          <mat-expansion-panel-header (click)="getsubtopics(topic.topicId)">
            <mat-panel-title>
              Topic{{i+1}}: {{topic.topicTitle}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngFor="let subtopic of subtopicdataset,let i = index">Subtopic {{i+1}}: {{subtopic.subTopicTitle}}</p>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="col-md-12 mt-20">
        <div class="row">
          <i class="fa fa-check"></i>
          <h4 class="muctieu">Internet-connected computer (Windows, Ubuntu or MacOS)</h4>
        </div>
        <div class="row">
          <i class="fa fa-check"></i>
          <h4 class="muctieu">High sense of self-study, high responsibility, persistence, not afraid of difficulties
          </h4>
        </div>
        <div class="row">
          <i class="fa fa-check"></i>
          <h4 class="muctieu">Do not rush, calmly study, do homework after each lesson</h4>
        </div>
        <div class="row">
          <i class="fa fa-check"></i>
          <h4 class="muctieu">You don't need to know anything more, in the course I'll show you what you need to know
          </h4>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top"
          src="https://images.unsplash.com/photo-1445452916036-9022dfd33aa8?auto=format&fit=crop&w=1053&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
        <p class="card-top-text">{{course.courseName}}</p>
        <div class="card-block">
          <p class="card-text">{{course.description}}</p>
        </div>
        <div class="card-block course-info">
          <div class="card-course-info">
            <figure *ngIf="instructor.avatarPath == null && instructor.avatarPath == undefined" (click)="toInstructorPage(course.accountId)" style="cursor: pointer;">
              <img src="assets/img/userplaceholder.png">
            </figure>
            <figure *ngIf="instructor.avatarPath != null && instructor.avatarPath != undefined" (click)="toInstructorPage(course.accountId)" style="cursor: pointer;">
              <img [src]="loadimage(instructor.avatarPath)" style="width:50px;height:50px;">
            </figure>
            <p class="card-text tutor-name">{{instructor.firstName}} {{instructor.lastName}}</p>
            <span class="tutor-description">INSTRUCTOR</span>
          </div>
          <div class="card-course-info">
            <span><i class="fa fa-clock-o" aria-hidden="true"></i>{{course.courseDuration}}</span>
            <span><i class="fa fa-book" aria-hidden="true"></i>
              {{course.lessonNumber}} Lessons</span>
          </div>
        </div>
        <div class="card-block" *ngIf="!bought">
          <div class="price"><i class="fa fa-money"></i><span
              style="padding-left: 15px;padding-right: 5px;">{{course.price}}</span>USD</div>
        </div>
        <div class="card-bottom card-block" *ngIf="!bought">
          <a class="btn" style="border-radius: 30px;" (click)="addToCart(course)">Enroll</a>
        </div>
        <div class="card-bottom card-block" *ngIf="islogin">
          <a routerLink="../../coursedetail/{{id}}" class="btn" style="border-radius: 30px; margin-top: 10px;">Study Now</a>
        </div>
        <div class="card-bottom card-block" style="margin-top: 10px;">
          <a class="btn" style="border-radius: 30px;" (click)="goToCertificate(course.courseId)">View Certificate</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="quizCodeList.length > 0">
    <div id="content">
      <div id="main-content">
        <mat-tab-group>
          <mat-tab *ngFor="let quizCode of quizCodeList,let i = index" label="{{quizName[i]}}">
            <div class="questionpoolwrap">
                <div class="questionpoolwrapbackground">
                    <div class="questionpoolboder">
                        <p style="color: #fff"><span><i class="fa fa-list" style="float: left;padding-right: 5px ; color: #fff;padding-top: 5px;"></i></span> {{quizCodeNumber[i]}} Question</p>
                        <p style="color: #fff;" *ngIf="quizIsFinalQuiz[i]">
                          <span><i class="fa fa-bookmark" style="float: left;padding-right: 5px ;color: #fff;padding-top: 5px;"></i></span> Final Quiz (Get certificate)
                        </p>
                        <span *ngIf="!quizIsActive[i] || bought"><i class="fa fa-play-circle" style="float: left;padding: 10px 10px ;color: #fff;cursor: pointer;" (click)="goToExam(quizCodeList[i])"></i></span>
                        <span *ngIf="!quizIsActive[i] || bought"><i class="fa fa-history" style="float: left;padding: 10px 10px ;color: #fff;cursor: pointer;" (click)="showHistory(quizCodeList[i])"></i></span> 
                    </div>
                </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="container" *ngIf="historyshow == true">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="examquizcode">
            <th mat-header-cell *matHeaderCellDef> Quiz Code </th>
            <td mat-cell *matCellDef="let element"> {{element.accountinLesson.examQuizCode}} </td>
          </ng-container>
          <ng-container matColumnDef="accountname">
            <th mat-header-cell *matHeaderCellDef> Account Name </th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
          </ng-container>
          <ng-container matColumnDef="passedresult">
            <th mat-header-cell *matHeaderCellDef> Statement </th>
            <td mat-cell *matCellDef="let element"> {{element.passedResult}} </td>
          </ng-container>
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Result </th>
            <td mat-cell *matCellDef="let element"> {{element.accountinLesson.result}} </td>
          </ng-container>
          <ng-container matColumnDef="lasttaken">
            <th mat-header-cell *matHeaderCellDef> Last Taken </th>
            <td mat-cell *matCellDef="let element"> {{element.accountinLesson.lastTaken}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container">
      <form (ngSubmit)="onSubmit()">
      <ckeditor [(ngModel)]="commentContent" name="editorComment">
      </ckeditor>
      <button type="submit" class="btn btn-success">Leave your comment</button>
    </form>
    </div>
    <div class="comments-container">
    <ul id="comments-list" class="comments-list" *ngIf="commentList.length > 0">
      <li *ngFor="let comment of commentList,let i = index">
        <div class="comment-main-level">
          <div class="comment-avatar" *ngIf="comment.comment.user.avatarPath == null || comment.comment.user.avatarPath == undefined"><img src="assets/img/userplaceholder.png" alt=""></div>
          <div class="comment-avatar" *ngIf="comment.comment.user.avatarPath != null && comment.comment.user.avatarPath != undefined"><img [src]="loadimage(comment.comment.user.avatarPath)" alt=""></div>
          <div class="comment-box">
            <div class="comment-head">
              <h6 class="comment-name">{{comment.comment.user.firstName}} {{comment.comment.user.lastName}}</h6>
              <span>{{comment.comment.datePost}}</span>
              <i class="fa fa-trash" *ngIf="comment.isDeleteComment" (click)="deleteComment(comment.comment.commentId,'comment')"></i>
              <i class="fa fa-edit" *ngIf="comment.isEditComment" (click)="editComment(comment.comment,i)"></i>
              <i class="fa fa-reply" (click)="changeCommentState(comment.comment.commentId,i,'repcomment')"></i>
              <i class="fa fa-heart"></i>
            </div>
            <div class="comment-content" [innerHTML]="comment.comment.commentContent">
            </div>
          </div>
        </div>
        <div class="container" *ngIf="comment.showComment && !isEditComment">
          <form (ngSubmit)="onSubmit()">
          <ckeditor [(ngModel)]="subCommentContent" name="editorComment">
          </ckeditor>
          <button type="submit" class="btn btn-success">Reply</button>
        </form>
        </div>
        <div class="container" *ngIf="comment.showComment && isEditComment">
          <form (ngSubmit)="onSubmit()">
          <ckeditor [(ngModel)]="commentEditContent" name="editorComment">
          </ckeditor>
          <button type="submit" class="btn btn-success">Leave your comment</button>
        </form>
        </div>
        <ul class="comments-list reply-list" *ngIf="comment.subCommentList.length > 0">
          <li *ngFor="let subComment of comment.subCommentList">
            <div class="comment-avatar" *ngIf="subComment.user.avatarPath == null || subComment.user.avatarPath == undefined"><img src="assets/img/userplaceholder.png" alt=""></div>
            <div class="comment-avatar" *ngIf="subComment.user.avatarPath != null && subComment.user.avatarPath != undefined"><img [src]="loadimage(subComment.user.avatarPath)" alt=""></div>
            <div class="comment-box">
              <div class="comment-head">
                <h6 class="comment-name">{{subComment.user.firstName}} {{subComment.user.lastName}}</h6>
                <span>{{subComment.subDatePost}}</span>
                <i class="fa fa-trash" *ngIf="comment.isDeleteSubComment" (click)="deleteComment(subComment.subCommentId,'subcomment')"></i>
                <i class="fa fa-edit" *ngIf="comment.isEditSubComment" (click)="editSubComment(subComment,i)"></i>
                <i class="fa fa-reply" (click)="changeCommentState(comment.comment.commentId,i,'repsubcomment')"></i>
                <i class="fa fa-heart"></i>
              </div>
              <div class="comment-content" [innerHTML]="subComment.subCommentContent">
              </div>
            </div>
          </li>
          <div class="container" *ngIf="comment.showSubComment">
            <form (ngSubmit)="onSubmit()">
            <ckeditor [(ngModel)]="subCommentContent" name="editorSubComment">
            </ckeditor>
            <button type="submit" class="btn btn-success">Reply</button>
          </form>
          </div>
        </ul>
      </li>
    </ul>
    </div>
  </div>
</div>