.bao{
    
}
.colx-lg-4{
    width: 100%;
}
.baocha
{
    width: auto;
}
.center{
    text-align: center;
}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
 }