<div class="container-fluid img1">
	<div class="row">
		<div class="container py-5 text-white">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="display-4 text-uppercase font-weight-bold txt1">Make a global impact</h1>
					<p class="lead">Create an online video course and earn money by teaching people around the world.</p>
					<a class="btn btn-danger rounded-0 my-5" (click)="upToInstructor()">Become an instructor</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container text-center py-5" id="features">
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<i class="fas text-danger fa fa-diamond fa-3x py-4"></i>
			<h6 class="text-uppercase">Earn money</h6>
			<p class="text-muted">Earn money every time a student purchases your course. Get paid monthly through PayPal or Payoneer, it’s your choice</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<i class="fas text-danger fa-desktop fa-3x py-4"></i>
			<h6 class="text-uppercase">Inspire students</h6>
			<p class="text-muted">Help people learn new skills, advance their careers, and explore their hobbies by sharing your knowledge.</p>
		</div>
		<div class="col-lg-4 col-md-6">
			<i class="fas text-danger fa fa-thumbs-o-up fa-3x py-4"></i>
			<h6 class="text-uppercase">Join our community</h6>
			<p class="text-muted">Take advantage of our active community of instructors to help you through your course creation process.</p>
		</div>
	</div>
</div>

<div class="container py-5 text-lg-left text-center px-5" id="team">
	<div class="row">
		<div class="col-lg-3 col-md-6 ">
			<img class="img-fluid mx-auto d-block mb-3" src="./assets/img/team-1.jpg" alt="team 1" />
			<h4>Ruth Wood</h4>
			<h6 class="text-uppercase text-danger mb-4">Founder, CEO</h6>
			<p class="text-muted">Course has given me the opportunity to reach a global audience for my classes that wouldn’t have been possible otherwise.</p>
			
		</div>
		<div class="col-lg-3 col-md-6 ">
			<img class="img-fluid mx-auto d-block mb-3" src="./assets/img/team-2.jpg" alt="team 2" />
			<h4>Timothy Reed</h4>
			<h6 class="text-uppercase text-danger mb-4">Co-Founder, Dev</h6>
			<p class="text-muted">Launching my first course on Course allowed me to quit my full-time job and start my own company. I went from working 60+ hour weeks to setting my own hours and schedule..</p>
			
		</div>
		<div class="col-lg-3 col-md-6 ">
			<img class="img-fluid mx-auto d-block mb-3" src="./assets/img/team-3.jpg" alt="team 3" />
			<h4>Victoria Valdez</h4>
			<h6 class="text-uppercase text-danger mb-4">UI Designer</h6>
			<p class="text-muted">There's no greater success on the Course marketplace than hearing that you've helped a student achieve their goals. Teaching on Udemy has brought me new relationships from wonderful and insatiably curious students.</p>
		</div>
		<div class="col-lg-3 col-md-6 ">
			<img class="img-fluid mx-auto d-block mb-3" src="./assets/img/team-4.jpg" alt="team 4" />
			<h4>Baverly Little</h4>
			<h6 class="text-uppercase text-danger mb-4">HR Manager</h6>
			<p class="text-muted">We were looking for a scalable and credible solution that we would not need to develop internally. Coursera not only offers training from very prestigious institutions , but also a platform that allows you to carry out the follow-up you want.

            </p>
		</div>
	</div>
</div>
<div class="container-fluid img2">
	<div class="row">
		<div class="container py-5 text-white">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="display-4 text-uppercase font-weight-bold txt1">We're here to help</h1>
					<p class="lead">Our Instructor Support Team is here for you 24/7 to help you through your course creation needs. Use our Teaching Center, a resource center to help you through the process. Join Studio U and get peer-to-peer support from our engaged instructor community. This community group is always on, always there, and always helpful.</p>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container py-5" id="download">
	<div class="row justify-content-center">
		<div class="col-lg-8 col-10 text-center">
			<h2 class=" txt2">Become an instructor today</h2>
			<h6 class=" lead1">Join the world's largest online learning marketplace.</h6>
			<button class="btn btn-danger mt-4 text-uppercase rounded-0" (click)="upToInstructor()">Get Started</button>
		</div>
	</div>
</div>



