<main>
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">My Course</h1>
                                <!-- breadcrumb Start-->
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                                        <li class="breadcrumb-item"><a routerLink="/mycourse">My Course</a></li>
                                    </ol>
                                <!-- breadcrumb End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="courses-area section-padding40 fix">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8">
                    <div class="section-tittle text-center mb-55">
                        <h2>My Course</h2>
                    </div>
                </div>
                <div class="col-lg-8 mb-20 ">
                    <div class="input-group">                                                                       
                        <input [(ngModel)]="namesearch" name= "search" class="form-control" placeholder="Search" type="text" style="font-size: 20px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i (click)='onSearch()' class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <h1 *ngIf="dataset.length == 0" style="text-align: center;">No Result Found</h1>
            <div class="row" *ngIf="dataset.length > 0">
                <div class="col-lg-4" *ngFor="let course of dataset | paginate: { itemsPerPage: 9, currentPage: p }">
                    <div class="properties properties2 mb-30">
                        <div class="properties__card">
                            <div class="properties__img overlay1" *ngIf="!course.thumbnailImage">
                                <a href="#"><img src="assets/img/productplaceholder.jpg" alt=""></a>
                            </div>
                            <div class="properties__img overlay1" *ngIf="course.thumbnailImage">
                                <a href="#"><img [src]="loadimage(course.thumbnailImage)" alt=""></a>
                            </div>
                            <div class="properties__caption">
                                <p>{{course.hastag}}</p>
                                <h3><a href="#">{{course.courseName}}</a></h3>
                                <p>{{course.description}}</p>
                                <div class="properties__footer d-flex justify-content-between align-items-center">
                                    <div class="restaurant-name" *ngIf="course.rating > 0">
                                        <div class="rating">
                                            <i class="fas fa-star" *ngFor="let item of [].constructor(course.rating)"></i>
                                            <i class="far fa-star" *ngFor="let item of [].constructor(5-course.rating)"></i>
                                        </div>
                                        <p><span>({{course.rating}})</span> based on {{course.numberOfVoters}}</p>
                                    </div>
                                    <div class="restaurant-name" *ngIf="course.rating == 0">
                                        <div class="rating">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                        <p><span>({{course.rating}})</span> based on {{course.numberOfVoters}}</p>
                                    </div>
                                    <div class="price">
                                        <span>${{course.price}}</span>
                                    </div>
                                </div>
                                <!-- <a class="border-btn border-btn2" (click)="viewdetail(course.courseId,course)">Find out more</a>
                                <div class="button button-primary" (click)="rating(course)">Leave your rating</div> -->
                                <a class="button button-success" (click)="viewdetail(course.courseId,course)">Find out more</a>
                                <div class="button button-primary" (click)="rating(course)">Leave your rating</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>     
    </div>
    <div class="center" >
        <pagination-controls (click)="gotoTop()" (pageChange)="p = $event"></pagination-controls>
    </div>
    </main>