.container-width{
    padding: 50px;
}
.quizzwrap{
    /* margin: 10px 10px;
    height: auto;
    width: calc(80% - 20px);
    border: 1px solid #333;
    display: flex; */
    border: 1px solid #333;
}
.quizzheader{
    background-color: rgba(247,246,246,255);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* width: calc(100% - 20px); */
}
.quizicon{
    border-radius: 4px;
    border: 1px solid #333;
    padding: 5px 10px;
    margin: 10px 30px;
    height: 30px;
    width: 140px;
    display: block;
}
.fa-question{
    font-size: 12px;
}
h5{
    padding: 0;
    margin: 0;
    float: right;
    color: #333;
    font-size: 15px;
}
.quizztime{
    border-radius: 4px;
    border: 1px solid #333;
    padding: 5px 10px;
    margin: 10px 30px;
    height: 30px;
    width: 70px;
}
h2{
    margin: 5px 30px;
    color: #333;
}
hr {
    border-bottom: 1.5px solid #333;
    border-top: 0 none;
    margin: 5px 30px;
    padding: 0;
}
.fa-circle{
    color: #333;
    font-size: 20px;
}
.answerstring{
    margin: 20px 30px;
    width: calc(50% - 60px);
    display: block;
}
.answertext{
    margin: 0;
    padding: 0;
} 
.true{
    color: green;
}
.badge{
    color: red;
}
.material-icons{
    color: green;
}