<h1 mat-dialog-title>{{mess}}</h1>
<div mat-dialog-content>
    <mat-form-field style="width: 100%;">
        <mat-label>Subtopic Title</mat-label>
        <input matInput [(ngModel)]="data.subTopicTitle"> 
    </mat-form-field>

    <mat-form-field style="width: 100%;">
        <mat-select class="form-control" [(ngModel)]="data.topicId">
            <mat-option *ngFor="let topic of topics" [value]="topic.topicId">
                {{topic.topicTitle}}
            </mat-option>
        </mat-select>
    </mat-form-field>    

</div>
<div mat-dialog-actions>
    <button class="button button-success" mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
    <!-- <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button> -->
</div>

