body, p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  }
  
  p {
  margin: 0;
  }
  
  .card {
    background: #FFF;
    width: auto;
    margin-left: 5px;
    margin-top: 30px;
    border:none;
  }
  
  .card-img-top {
    height: 150px;
    border-radius: 30px 30px 0 0;
    
  }
  
  .card-top-text {
    color: #FFF;
    font-size: 1.5em;
    position: absolute;
    top:0;
    padding: 40px;
  }
  
  .card-text, span {
    color: #779a94;
  }
  
  .card-block {
    padding: 20px 35px;
  }
  
  .card-block .card-course-info:first-child {
    width: 60%;
    float: left;
  }
  
  .card-block .card-course-info {
    display: inline-block;
    height: auto;
  }
  
  .card-block .card-course-info figure {
    max-width: 54px;
    height: 54px;
    text-align: center;
    margin: 0 10px;
    float: left;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .card-block .card-course-info figure img {
    height: 50px;
    width: 50px;
  }
  
  .card-block .card-course-info span {
    display: block;
    font-size: 0.9em;
    text-align: left;
  }
  
  .card-block .card-course-info span i {
    padding-right: 10px;
  }
  
  .icon {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    margin-right: 10px;
  }
  
  .icon.icon-icon-heart {
    height: 1em;
  }
  
  .card-block.card-bottom {
    padding: 0px;
  }
  
  .card-block a.btn {
    display: block;
    width: 100%;
    height: 80px;
    background-color: #3ce4c5;
    border-radius: 0px;
    color: #FFF;
    text-align: center;
    line-height: 35px;
    font-size: 20px;
  }
  
  .icon-icon-play {
    width: 2em;
    height: 2em;
  }
  
  
  span.tutor-description {
  font-size: 12px !important;
  }
  .price{
      font-size: 25px;
      text-align: center;
      margin:10px 30px 15px 15px;
      
      
  }
  .tdchinh{
      font-weight: 600;
      font-size: 30px;
      margin-top: 30px;
      text-align: center;
  }
  .kobienmau{
      color: #343436;
      line-height: 40px;
      padding-left: 10px;
      color: #333333;
  }
  .panel-title
  {
    Box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 40px;
    background-color: #f5f5f5;
    display: block;
  }
  .list-group-item{
    cursor: pointer;
  }
  .list-group-item:last-child{
    margin-bottom: 15px;
  }
  .panel-group
  {
    position: relative;
  }
  .arrow{
float: right;
font-size: 30px;
line-height: 40px;
padding-right: 30px;
color: black;
  }
  .tdtopic{
    color: black;
    font-weight: bolder;
  }
  .row{
    margin: 0;
  }
  .fa-check{
    color: green;
    padding-right: 10px;
  }
  .muctieu{
    color: black;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .card-block
  {
    background-color: hsl(156, 100%, 97%);
    
  }
  .card-block:last-child{
    border-radius:0 0 30px 30px ;
  }
  .button.button-primary {
  color: #000;
  background-color: #fff ;
  
}
.button.button-primary:hover {
color: rgb(95, 86, 86);
background-color: #66fa03 ;

}
.button {
display: inline-block;
padding: 0 30px;
color: white;
text-align: center;
font-size: 0.85em;
font-weight: 600;
letter-spacing: .15rem;
text-transform: uppercase;
text-decoration: none;
white-space: nowrap;
background-color: transparent;
border: 1px solid #c7c7c7;
cursor: pointer;
box-sizing: border-box;
width: 100%;
line-height: 38px;
height: 50px;
line-height: 50px;
border-radius: 10px;
}
.panel-title
{
  color: #000;
}
.panel-title a:hover
{
  color: #000;
}
.edit{
  float: right;
  color: #333;
}
.edittopic{
  line-height: 40px;
  height: 40px;
  margin-right: 10px;
  font-size: 20px;
  float: right;
  color: #333;
}
.topictittle{
  margin-left: 10px;
  line-height: 40px;
  font-size: 20px;
  height: 40px;
}
.deletetopic{
  line-height: 40px;
  height: 40px;
  margin-right: 10px;
  font-size: 20px;
  float: right;
  color: red;
}
.container{
  margin-bottom: 20px;
}
.createquiz{
  padding: 6px 20px;
  background-color: #66fa03;
  color: #fff !important;
  font-size: 18px !important;
  float: right;
  margin-left: 5px;
  cursor: pointer;
}
.createquiz i{
  padding-right: 5px;
}





:host ::ng-deep .mat-tab-group {
  flex-direction: row;
}
:host ::ng-deep .mat-tab-header {
  border-bottom: none;
}
:host ::ng-deep .mat-tab-header-pagination {
  display: none !important;
}
:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}
:host ::ng-deep .mat-ink-bar {
  height: 100%;
  left: 98% !important;
}
:host ::ng-deep .mat-tab-body-wrapper {
  flex: 1 1 auto;
}
#content {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 15px;
  width: 1264px;
  background-color: #fff;
}
#content {
  max-width: 1100px;
  width: 100%;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
}
#content::before, #main-content::before, #content::after, #main-content::after {
  content: "";
  display: table;
}
#content::after, #main-content::after {
  clear: both;
}
.questionpoolwrap{
  padding: 5px 20px;
}
.questionpoolwrapbackground{
  width: 100%;
  height: 100px;
  background-color: #666;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
.videoquiz{
  line-height: 40px;
  height: 40px;
  margin-right: 10px;
  font-size: 20px;
  float: right;
  color: #666;
}