<h1 mat-dialog-title>Update CourseInfo</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Course ID</mat-label>
    <input matInput [(ngModel)]="data.courseId" readonly>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Course Name</mat-label>
    <input matInput [(ngModel)]="data.courseName" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Course Duration</mat-label>
    <input matInput [(ngModel)]="data.courseDuration" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.description" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>Select your course hastag (required)</mat-label>
  <mat-select matNativeControl required [formControl]="hastagFormControl" [(ngModel)]="data.hastag">
    <mat-option *ngFor="let hastag of coursehastags" [value]="hastag">
      {{hastag}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="hastagFormControl.hasError('required')">Please choose an hastag</mat-error>
</mat-form-field>
<br>
<mat-form-field appearance="fill">
  <mat-label>Select your course level (required)</mat-label>
  <mat-select matNativeControl required [formControl]="levelFormControl" [(ngModel)]="data.level">
    <mat-option *ngFor="let level of courselevels" [value]="level">
      {{level}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="hastagFormControl.hasError('required')">Please choose course level</mat-error>
</mat-form-field>

  <div class="form-group">
    <mat-label>Course ThumbnailImage</mat-label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
  </div>
  <mat-form-field>
  <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="data.price" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-success" mat-button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>