<input id="quiz" type="file" (change)="onFileChangeQuiz($event)" multiple="false" />
<table>
    <tbody>
        <tr *ngFor="let row of data">
                <td *ngFor="let cell of row">
                        {{cell}}
                </td>
        </tr>
    </tbody>
</table>
<input id="answer" type="file" (change)="onFileChangeAnswer($event)" multiple="false" />
<table>
    <tbody>
        <tr *ngFor="let row of data1">
                <td *ngFor="let cell of row">
                        {{cell}}
                </td>
        </tr>
    </tbody>
</table>