<input id="quiz" type="file" (change)="onFileChangeQuiz($event)" accept=".xlsx" multiple="false" />
<table>
    <tbody>
        <tr *ngFor="let row of data">
                <td *ngFor="let cell of row">
                        {{cell}}
                </td>
        </tr>
    </tbody>
</table>
<input id="answer" type="file" (change)="onFileChangeAnswer($event)" accept=".xlsx" multiple="false" />
<table>
    <tbody>
        <tr *ngFor="let row of data1">
                <td *ngFor="let cell of row">
                        {{cell}}
                </td>
        </tr>
    </tbody>
</table>
<button (click)='exportAsXLSX()'>Download Excel</button>
<button (click)='openQuestionpoolDialog()'>Create Questionpool Dialog</button>
<button (click)='openQuizDialog()'>Create Quiz Dialog</button>
<section class="tabs-container">
 
    <label for="tab1"> First Tab </label>
    <label for="tab2"> Second Tab </label>
    <label for="tab3"> Third Tab </label>
    <label for="tab-n"> N Tab </label>
</section>
<section class="tab-content">
   <h2> Tab Heading </h2>
   <p>Your peragraph goes here.</p>
   <!-- Any other content -->
</section>
 

<section class="tab-content">
   <p> Contents for tab 2 </p>
</section>
 
<input name="tab" id="tab3" type="radio" checked />
<section class="tab-content">
   <p> Contents for tab 3 </p>
   <div class ="container-fluid"*ngIf="QuestionpoolList.length > 0">
   <div class="questionpoolContainer" *ngFor ="let questionpool of QuestionpoolList">
    <div class="row">
        <div class="col-2">
          <div class ="questionpoolImageWrapper">
          <img class = "questionpoolImage" src="./assets/img/quizthumbnail.png">
          </div>
        </div>
        <div class="col-10">
        <button class="deleteQuestionpool" (click)="deleteQuestionpool(questionpool)" *ngIf="questionpool.isActive == true"><span><i class="fa fa-trash"></i></span> Delete</button>
        <button class="editQuestionpool" *ngIf="questionpool.isActive == true"><span><i class="fa fa-edit"></i></span> Edit</button>
        <button class="deleteQuestionpool" *ngIf="questionpool.isActive == false" (click)="undodeleteQuestionpool(questionpool)"><span><i class="fa fa-undo"></i></span> Undo Delete</button>
         <h5>QUIZ</h5>
         <h3>{{questionpool.questionpoolName}}</h3>
         <p><span><i class ="fa fa-th-list"></i></span>{{questionpool.quizCount}}</p>
            <img src="assets/img/userplaceholder.png" style="width:50px;height:50px;border-radius: 25%;" *ngIf="check(questionpool.user.avatarPath) == false">
            <img [src]="loadimage(questionpool.user.avatarPath)" style="width:50px;height:50px;border-radius: 25%;" *ngIf="check(questionpool.user.avatarPath) == true">
            <p>{{questionpool.user.firstName}} {{questionpool.user.lastName}}</p>
            <p>{{questionpool.dateDistance}} days ago</p>    
        </div>
      </div>
    </div>
    </div>
</section>
<section class="tab-content">
   <p> Contents for N tab</p>
   <div [ngbTooltip]="tooltipTemplate">
  Button with delay-default tooltip
    </div>
<ng-template #tooltipTemplate>
    <div>
    <img src="./assets/img/avatar.jpg" style="width:300px;height:300px;">
    </div>
</ng-template>
</section>






