.header-image {
    height: 400px;
    background-size:cover;
    background-position: center center;
}
.header-block {
    height: 100%;
    background-color: #3A3A35;
    color:white;
    width: 50%;
    margin:auto;
    border-color:white;
    border-style:solid;
    border-width: 0 15px;
    display:table;
}
.header-text {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}
.header-text-title {
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    padding-bottom:10px;
    border-bottom: 1px solid white;
}
.header-text p {
    padding:10px 40px
}
.layout-container {
    max-width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
.product-grid {
    padding-top: 5%;
    padding-bottom: 5%;
}
.product-image {
    width: 100%;
    height: 0;
    padding-bottom: 66.66667%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-container {
    position: relative;
}
.image-container:hover .product-image{
    opacity: 0.3;
    background-size:120%;
}
.image-container:hover .overlay{
    opacity: 1;
}
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.overlay .button {
    width: 160px;
    line-height: 38px;
}
.overlay .button:first-child {
    margin-bottom: 2em;
}
.product-details {
    padding-top: 15px;
    text-align: center;
    margin-bottom: 40px;
}
.product-brand {
    display: block;
    margin: .5em 0;
    color: #7d7d7d;
}
.product-title {
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 400;
    font-family: Roboto;
}
.product-price {
    font-size: 1.14286em;
    color: #9f9f9f;
    font-family: Playfair Display;
}
.button.button-primary {
    color: #000;
    background-color: #fff ;
    
}
.button.button-success {
    color: #000;
    background-color: #fff ;
    
    margin-bottom: 10px;
}
.button.button-success:hover {
    color: #fff;
    background-color: #FF9F67 ;
}
.button.button-primary:hover {
    color: rgb(95, 86, 86);
    background-color: #66fa03 ;
   
}
.border-btn1
{
    color:#fff;background:#FF9F67;-webkit-transition:.4s;-moz-transition:.4s;-o-transition:.4s;transition:.4s;width: 100%;
}
.center{
    text-align: center;
}
.button {
    display: inline-block;
    padding: 0 30px;
    color: white;
    text-align: center;
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: .15rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #c7c7c7;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    line-height: 38px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; number of lines to show */
    -webkit-box-orient: vertical;
 }
@media screen and (max-width: 767px) {
    .header-block {
        width: 100%;
    }
}
.input-group
{
	height: 50px;
}
.input-group input
{
	height: 40px;
}

.input-group-text
{
	height:40px;
	width: 40px;
	cursor: pointer;
}
.input-group-text i{
	padding-left: 5px;
}
mat-slider {
    width: 300px;
}
.createquiz-1{
    padding: 6px 20px;
    background-color: #66fa03;
    color: #fff !important;
    font-size: 18px !important;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .createquiz-1 i{
    padding-right: 5px;
  }
  
