<section class="slider-area slider-area2">
  <div class="slider-active">
    <!-- Single Slider -->
    <div class="single-slider slider-height2">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-11 col-md-12">
            <div class="hero__caption hero__caption2">
              <h1 data-animation="bounceIn" data-delay="0.2s">Invoice History</h1>
              <!-- breadcrumb Start-->
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                <li class="breadcrumb-item"><a routerLink="/invoicehistory">Invoice History</a></li>
              </ol>
              <!-- breadcrumb End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="courses-area fix">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8">
        <div class="section-tittle text-center mb-40 mt-30">
          <h2>Your Invoice</h2>
        </div>
      </div>
    </div>
    <ng-container>

      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="table" class="table" style="width:1000px;">
        <thead class="thead-light">
          <tr>
            <th scope="col">Invoice Code</th>
            <th scope="col">Total Course</th>
            <th scope="col">Create Date</th>
            <th scope="col">Total Price</th>
            <th scope="col">Payment Method</th>
            <th scope="col">View Detail</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor='let element of invoiceCodeList,let i = index' (click)="showInvoice(element,i)"> -->
          <tr *ngFor='let element of invoiceCodeList,let i = index'>
            <td style="line-height: 60px;">{{element}}</td>
            <td style="line-height: 60px;">{{totalCourse[i]}}</td>
            <td style="line-height: 60px;">{{createDateList[i]}}</td>
            <td style="line-height: 60px;">{{totalPrice[i]}}</td>
            <td>
              <img *ngIf="payMethodList[i] == 'Paypal'"
                style="height: 50px; width: 50px;padding: 5px 10px; float: left;" src="/assets/img/paypal.png"
                alt="Paypal">
              <img *ngIf="payMethodList[i] == 'Account Balance'"
                style="height: 50px; width: 50px;padding: 5px 10px; float: left;" src="/assets/img/cashpayment.png"
                alt="Account Balance">
              <h3 style="line-height: 60px; margin: 0; padding: 0; font-size: 14px;">{{payMethodList[i]}}</h3>
            </td>
            <td style="line-height: 60px;padding-left: 60px;"><span><i class="fa fa-file-text"
                  style="font-size: 30px;color: #66fa03;line-height: 60px;cursor: pointer;"
                  (click)="openInvoiceDialog(element,i)"></i></span></td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>