.container-fluid{
    height: 100vh;
    background-color: rgba(70,26,66,255);
    display: flex;
    flex-wrap: nowrap;
}
.questiontext{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 600;
    line-height: 60px;
    white-space: initial;
}
.wrapquestion{
    width: 95%;
    margin-left: 2.5%;
    height: 95vh;
    margin-top: 2.5%;
    justify-self: space-around;
    align-items: flex-end;
}
.timer{
    width: 100%;
    margin-left: 10px;
    height: 100px;
}
.answerwrap{
    width: 100%;
    /* height: 50vh; */
    margin-top: 200px;  
}
#option0{
    height: 25vh;
    width: calc(25% - 10px);
    margin: 3px 5px;
    background-color: #2f6dae;
    float: left;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#option1{
    height: 25vh;
    width: calc(25% - 10px);
    margin: 3px 5px;
    background-color: #2f6dae;
    float: left;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#option2{
    height: 25vh;
    width: calc(25% - 10px);
    margin: 3px 5px;
    background-color: #2c9ca6;
    float: left;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#option3{
    height: 25vh;
    width: calc(25% - 10px);
    margin: 3px 5px;
    background-color: #eca82c;
    float: left;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#option4{
    height: 25vh;
    width: calc(25% - 10px);
    margin: 3px 5px;
    background-color: #d4546a;
    float: left;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.determinate{
    background-color: red;
}

.answertext{
    font-size: 25px;
    color:#fff;
    text-align: center;
    padding: 10px 10px;
}
