
<h1 mat-dialog-title>How do you like our service?</h1>
<div mat-dialog-content>
  <!-- <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.commentContent" placeholder="Write your review about us">
  </mat-form-field> -->
  <mat-dialog-content class="mat-typography">
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="data.rating"/><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4.5" [(ngModel)]="data.rating"/><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" [(ngModel)]="data.rating"/><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3.5" [(ngModel)]="data.rating"/><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" [(ngModel)]="data.rating"/><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2.5" [(ngModel)]="data.rating"/><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" [(ngModel)]="data.rating"/><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1.5" [(ngModel)]="data.rating"/><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" [(ngModel)]="data.rating"/><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="0.5" [(ngModel)]="data.rating"/><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    </fieldset>
  </mat-dialog-content>
  <mat-dialog-content class="mat-typography">
    <p *ngIf="notrating">🙁 😐 😊 😄 😍</p>
    <p *ngIf="start1">Your last rating: 🙁</p>
    <p *ngIf="start2">Your last rating: 🙁 😐</p>
    <p *ngIf="start3">Your last rating: 🙁 😐 😊</p>
    <p *ngIf="start4">Your last rating: 🙁 😐 😊 😄 </p>
    <p *ngIf="start5">Your last rating: 🙁 😐 😊 😄 😍</p>
  </mat-dialog-content>
</div>
<div mat-dialog-actions>
  <button mat-button mat-button [mat-dialog-close]="data" cdkFocusInitial>Rating us</button>
</div>