<img class="header-image" src="/assets/img/quiz.png" alt="quiz"><h1 mat-dialog-title class="header-title">Create a quiz</h1>
<div mat-dialog-content>
    <mat-form-field style="width: 100%;">
        <h4>1. Name this quiz</h4>
        <mat-label>Quiz Name</mat-label>
        <input matInput [(ngModel)]="data.questionpoolName" /> 
    </mat-form-field>
    <mat-form-field style="width: 100%;" *ngIf="lessondataset.length > 0">
        <mat-select  class="form-control" [(ngModel)]="data.lessonId">
            <mat-option  *ngFor="let lesson of lessondataset" [value]="lesson.lessonId">
                {{lesson.lessonTitle}}
            </mat-option>
        </mat-select>
    </mat-form-field> 
    <div *ngIf="lessondataset.length == 0">
            <h4>Course don't have any lesson yet</h4>
    </div> 
        <h4>2. Choose relevant subjects</h4>
    <div class="row">
            <div *ngFor="let hastag of questionpoolhastags" [(ngModel)]="data.hastag">
                <a class="quizhastag" (click)="pushhastag(hastag)">{{hastag}}</a>
            </div>
    </div>
</div>
<div mat-dialog-actions>
    <button class="button button-success" mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
