 <div class="container">
 <div class="colnomarg span_3_of_4 content">
            <div class="pages page1 active">
            <iframe width="1000" height="500" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>              <div class="gridrow">
                <div class="col span_2_of_3">
                  <h2>Lorem Ipsum Page 1</h2>
                  <p>Morbi in nibh elementum, consectetur ligula non, efficitur libero. Cras tincidunt libero non felis venenatis, non mattis neque eleifend. Fusce pharetra at odio eu accumsan. Duis viverra tincidunt ante in vestibulum. Donec eu commodo lectus, quis egestas massa. Duis sit amet purus euismod, sodales felis id, lacinia leo. Praesent pulvinar non dolor in condimentum. Suspendisse ex est, finibus vitae sapien eu, posuere aliquam eros. Aenean quis mauris sit amet metus sagittis vestibulum vel vel sem. Suspendisse urna tortor, tempus sit amet sagittis quis, mattis ac magna.</p>
                </div>
                <div class="col span_1_of_3">
                  <div class="btn link2">>&nbsp; Continue</div>
                  <div class="btn gray"><&nbsp; Go Back</div>
                  <div class="btn">Download PDF</div>
                </div>
              </div>        
            </div>
</div>