.image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
 }
 
 .img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: auto;
    width: 100%;
    padding: 10px;
    min-height:175px;
 }
 
 .img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
 }
 
 .fileInputProfileWrap {
    width: 100%;
    height: auto;
 }
 
 .fileInputProfile {
    position: absolute;
    height: 20%;
    width: 20%;
    z-index: 99;
    opacity: 0;
 }
 .fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
 }
 .imageUrl{
    font-size: 20px;
    color:#333;
    float:left;
 }
 mat-form-field {
   width: 100%;
}
mat-label{
   color: #333;
   margin-left: 20px !important;
}
input{
   border: rgba(242,242,242,255) 1px;
}
.text{
   text-align: center;
}
.btn.btn-danger{
   background-color: red;
   float:right;
   margin-left: 10px;
   color: #fff;
   font-size: 20px;
}
.btn.btn-success{
   background-color: green;
   float:right;
   color: #fff;
   font-size: 20px;
}
mat-hint{
   color: red;
}

.button {
   display: inline-block;
   padding: 0 30px;

   text-align: center;
   font-size: 0.85em;
   font-weight: 600;
   letter-spacing: .15rem;
   text-transform: uppercase;
   text-decoration: none;
   white-space: nowrap;
   background-color: transparent;
   border: 1px solid #c7c7c7;
   cursor: pointer;
   box-sizing: border-box;
   width: 90%;
   line-height: 38px;
   height: 50px;
   line-height: 50px;
   border-radius: 20px;
}

.button.button-success {
   color: #000;
   background-color: #fff ;
   
   margin-bottom: 10px;
}
.button.button-success:hover {
   color: #fff;
   background-color: #FF9F67 ;
}