USE [CourseDB3]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountinCourses]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountinCourses](
	[AccountinCourseID] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[InvoiceCode] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[IsBought] [bit] NOT NULL,
	[GetPayment] [bit] NOT NULL,
	[QuizCompleted] [int] NOT NULL,
	[IsCart] [bit] NOT NULL,
 CONSTRAINT [PK_AccountinCourses] PRIMARY KEY CLUSTERED 
(
	[AccountinCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AccountinLessons]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountinLessons](
	[AccountinLessonID] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [nvarchar](max) NULL,
	[QuizName] [nvarchar](max) NULL,
	[IsCompleted] [bit] NOT NULL,
	[Result] [nvarchar](max) NULL,
	[LastTaken] [datetime2](7) NOT NULL,
	[AccountId1] [int] NULL,
	[LessonId] [int] NULL,
	[ExamQuizCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccountinLessons] PRIMARY KEY CLUSTERED 
(
	[AccountinLessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](100) NULL,
	[Role] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[Verification] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Choices]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Choices](
	[ChoiceId] [int] IDENTITY(1,1) NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[IsCorrect] [bit] NOT NULL,
	[AnswerImage] [varbinary](max) NULL,
	[AnswerImageLink] [nvarchar](max) NULL,
	[QuizId] [int] NOT NULL,
 CONSTRAINT [PK_Choices] PRIMARY KEY CLUSTERED 
(
	[ChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentContent] [nvarchar](max) NULL,
	[Rating] [real] NOT NULL,
	[DatePost] [datetime2](7) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[IsLiked] [bit] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CourseId] [int] NULL,
	[LessonId] [nvarchar](max) NULL,
	[LessonId1] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](max) NULL,
	[Rating] [real] NOT NULL,
	[NumberOfVoters] [float] NOT NULL,
	[NumberOfParticipants] [float] NOT NULL,
	[Price] [real] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[CourseDuration] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ThumbnailImage] [varbinary](max) NULL,
	[Hastag] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[LessonNumber] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[AccountId] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuizs]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuizs](
	[ExamQuizId] [int] IDENTITY(1,1) NOT NULL,
	[ExamQuizName] [nvarchar](max) NULL,
	[ExamQuestion] [nvarchar](max) NULL,
	[ExamIsCorrect] [nvarchar](max) NULL,
	[ExamOption1] [nvarchar](max) NULL,
	[ExamOption2] [nvarchar](max) NULL,
	[ExamOption3] [nvarchar](max) NULL,
	[ExamOption4] [nvarchar](max) NULL,
	[ExamOption5] [nvarchar](max) NULL,
	[ExamQuestionImageURL] [nvarchar](max) NULL,
	[ExamOptionImageURL1] [nvarchar](max) NULL,
	[ExamOptionImageURL2] [nvarchar](max) NULL,
	[ExamOptionImageURL3] [nvarchar](max) NULL,
	[ExamOptionImageURL4] [nvarchar](max) NULL,
	[ExamOptionImageURL5] [nvarchar](max) NULL,
	[ExamThumbnailImage] [varbinary](max) NULL,
	[ExamQuestionImage] [varbinary](max) NULL,
	[ExamOptionImage1] [varbinary](max) NULL,
	[ExamOptionImage2] [varbinary](max) NULL,
	[ExamOptionImage3] [varbinary](max) NULL,
	[ExamOptionImage4] [varbinary](max) NULL,
	[ExamOptionImage5] [varbinary](max) NULL,
	[ExamTagTopic] [nvarchar](max) NULL,
	[CourseId] [nvarchar](max) NULL,
	[ExamTime] [int] NOT NULL,
	[QuizId] [nvarchar](max) NULL,
	[IsBlocked] [bit] NOT NULL,
	[ExamQuizCode] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExamQuizs] PRIMARY KEY CLUSTERED 
(
	[ExamQuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[LessonTitle] [nvarchar](max) NULL,
	[LessonContent] [nvarchar](max) NULL,
	[LessonNo] [int] NOT NULL,
	[SubTopicId] [int] NOT NULL,
	[QuizId] [nvarchar](max) NULL,
	[VideoQuizTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[MessageTitle] [nvarchar](max) NULL,
	[Message] [nvarchar](200) NULL,
	[Type] [nvarchar](max) NULL,
	[SendTo] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questionpools]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questionpools](
	[QuestionpoolId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionpoolName] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastEdited] [datetime2](7) NOT NULL,
	[Hastag] [nvarchar](max) NULL,
	[QuestionpoolThumbnailImage] [varbinary](max) NULL,
	[QuestionpoolThumbnailImageURL] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[AccountId] [nvarchar](max) NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_Questionpools] PRIMARY KEY CLUSTERED 
(
	[QuestionpoolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quizs]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quizs](
	[QuizId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NULL,
	[QuestionType] [nvarchar](max) NULL,
	[QuizImage] [varbinary](max) NULL,
	[QuizImageLink] [nvarchar](max) NULL,
	[Time] [int] NOT NULL,
	[TopicId] [nvarchar](max) NULL,
	[QuestionpoolId] [int] NOT NULL,
 CONSTRAINT [PK_Quizs] PRIMARY KEY CLUSTERED 
(
	[QuizId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubComments]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubComments](
	[SubCommentId] [int] IDENTITY(1,1) NOT NULL,
	[SubCommentContent] [nvarchar](max) NULL,
	[SubDatePost] [datetime2](7) NOT NULL,
	[IsLiked] [bit] NOT NULL,
	[LikeCount] [int] NOT NULL,
	[ParentCommentId] [int] NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_SubComments] PRIMARY KEY CLUSTERED 
(
	[SubCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubTopics]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubTopics](
	[SubTopicId] [int] IDENTITY(1,1) NOT NULL,
	[SubTopicTitle] [nvarchar](max) NULL,
	[SubTopicNumber] [int] NOT NULL,
	[TopicId] [int] NOT NULL,
 CONSTRAINT [PK_SubTopics] PRIMARY KEY CLUSTERED 
(
	[SubTopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicId] [int] IDENTITY(1,1) NOT NULL,
	[TopicTitle] [nvarchar](max) NULL,
	[SessionNumber] [int] NOT NULL,
	[LastUpdate] [datetime2](7) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/3/2021 10:31:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastLogOnDate] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[AvatarPath] [varbinary](max) NULL,
	[Balance] [real] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210527032955_1', N'3.1.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210528014834_2', N'3.1.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210602065601_3', N'3.1.15')
GO
SET IDENTITY_INSERT [dbo].[AccountinCourses] ON 

INSERT [dbo].[AccountinCourses] ([AccountinCourseID], [AccountId], [CourseId], [InvoiceCode], [CreatedDate], [PaymentMethod], [IsBought], [GetPayment], [QuizCompleted], [IsCart]) VALUES (2, 3, 2, N'UDrxuL3I', CAST(N'2021-07-27T02:24:40.0000000' AS DateTime2), N'Paypal', 1, 0, 0, 0)
INSERT [dbo].[AccountinCourses] ([AccountinCourseID], [AccountId], [CourseId], [InvoiceCode], [CreatedDate], [PaymentMethod], [IsBought], [GetPayment], [QuizCompleted], [IsCart]) VALUES (3, 1, 2, N'UDrxuL3I', CAST(N'2021-07-27T02:24:40.0000000' AS DateTime2), N'Paypal', 0, 1, 0, 0)
INSERT [dbo].[AccountinCourses] ([AccountinCourseID], [AccountId], [CourseId], [InvoiceCode], [CreatedDate], [PaymentMethod], [IsBought], [GetPayment], [QuizCompleted], [IsCart]) VALUES (6, 1, 3, N'h0MmCnvj', CAST(N'2021-07-27T02:36:51.0000000' AS DateTime2), N'Paypal', 1, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[AccountinCourses] OFF
GO
SET IDENTITY_INSERT [dbo].[AccountinLessons] ON 

INSERT [dbo].[AccountinLessons] ([AccountinLessonID], [AccountId], [QuizName], [IsCompleted], [Result], [LastTaken], [AccountId1], [LessonId], [ExamQuizCode]) VALUES (1, N'1', N'Quiz 1', 1, N'4/4', CAST(N'2021-07-27T02:38:03.0000000' AS DateTime2), NULL, NULL, N'pd9Qu2')
INSERT [dbo].[AccountinLessons] ([AccountinLessonID], [AccountId], [QuizName], [IsCompleted], [Result], [LastTaken], [AccountId1], [LessonId], [ExamQuizCode]) VALUES (2, N'1', NULL, 1, N'2/2', CAST(N'2021-07-27T03:50:46.0000000' AS DateTime2), NULL, NULL, N'ZRaOjZ')
INSERT [dbo].[AccountinLessons] ([AccountinLessonID], [AccountId], [QuizName], [IsCompleted], [Result], [LastTaken], [AccountId1], [LessonId], [ExamQuizCode]) VALUES (3, N'5', NULL, 1, N'2/2', CAST(N'2021-07-28T07:25:16.0000000' AS DateTime2), NULL, NULL, N'ZRaOjZ')
SET IDENTITY_INSERT [dbo].[AccountinLessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [Username], [Password], [Role], [IsActive], [Verification], [UserId]) VALUES (1, N'ngoclinh', N'$2a$11$urdbJLExklpCGptgjFB77euUDDvOLmMYsubNk44HQPGXMB.JeJVyS', N'instructor', 1, 0, 1)
INSERT [dbo].[Accounts] ([AccountId], [Username], [Password], [Role], [IsActive], [Verification], [UserId]) VALUES (2, N'tranlinh', N'$2a$11$pBAjfiD9mSbBCytkoyN4quK30ryc/EKRgVSuBFUcLLoABwPQechf6', N'admin', 1, 0, 2)
INSERT [dbo].[Accounts] ([AccountId], [Username], [Password], [Role], [IsActive], [Verification], [UserId]) VALUES (3, N'minhphong', N'$2a$11$QL33kLHYesrLIVE5rhAGRu2A2QZ3i7NVjZtVLRmccJIRrNGJ1Hkxu', N'instructor', 1, 0, 3)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Choices] ON 

INSERT [dbo].[Choices] ([ChoiceId], [Answer], [IsCorrect], [AnswerImage], [AnswerImageLink], [QuizId]) VALUES (1, N'2', 0, NULL, NULL, 1)
INSERT [dbo].[Choices] ([ChoiceId], [Answer], [IsCorrect], [AnswerImage], [AnswerImageLink], [QuizId]) VALUES (2, N'3', 0, NULL, NULL, 1)
INSERT [dbo].[Choices] ([ChoiceId], [Answer], [IsCorrect], [AnswerImage], [AnswerImageLink], [QuizId]) VALUES (3, N'1', 1, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Choices] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentId], [CommentContent], [Rating], [DatePost], [Type], [IsLiked], [LikeCount], [UserId], [CourseId], [LessonId], [LessonId1]) VALUES (1, N'<p>Khoa hoc that tuyet</p>
', 0, CAST(N'2021-07-27T02:37:20.0000000' AS DateTime2), N'Comment', 0, 0, 1, 3, NULL, NULL)
INSERT [dbo].[Comments] ([CommentId], [CommentContent], [Rating], [DatePost], [Type], [IsLiked], [LikeCount], [UserId], [CourseId], [LessonId], [LessonId1]) VALUES (2, NULL, 4, CAST(N'2021-07-27T03:40:12.0000000' AS DateTime2), N'Rating', 0, 0, 4, 2, NULL, NULL)
INSERT [dbo].[Comments] ([CommentId], [CommentContent], [Rating], [DatePost], [Type], [IsLiked], [LikeCount], [UserId], [CourseId], [LessonId], [LessonId1]) VALUES (3, N'<p>Kh&oacute;a học rất tốt</p>
', 0, CAST(N'2021-07-27T03:51:15.0000000' AS DateTime2), N'Comment', 0, 0, 1, 4, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamQuizs] ON 

SET IDENTITY_INSERT [dbo].[ExamQuizs] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonId], [LessonTitle], [LessonContent], [LessonNo], [SubTopicId], [QuizId], [VideoQuizTime]) VALUES (1, N'Lesson 1', N'https://www.youtube.com/watch?v=GhQdlIFylQ8', 1, 1, NULL, NULL)
INSERT [dbo].[Lessons] ([LessonId], [LessonTitle], [LessonContent], [LessonNo], [SubTopicId], [QuizId], [VideoQuizTime]) VALUES (2, N'Lesson', N'https://youtu.be/qMO9WEhjHXg', 1, 2, NULL, NULL)
INSERT [dbo].[Lessons] ([LessonId], [LessonTitle], [LessonContent], [LessonNo], [SubTopicId], [QuizId], [VideoQuizTime]) VALUES (3, N'Lesson 2', N'https://youtu.be/qMO9WEhjHXg', 2, 3, N' 2 3', N' 3 4')
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Questionpools] ON 

INSERT [dbo].[Questionpools] ([QuestionpoolId], [QuestionpoolName], [CreatedDate], [LastEdited], [Hastag], [QuestionpoolThumbnailImage], [QuestionpoolThumbnailImageURL], [IsActive], [AccountId], [CourseId]) VALUES (1, N'C# Question 4.0', CAST(N'2021-07-27T02:32:57.0000000' AS DateTime2), CAST(N'2021-07-27T02:33:07.0000000' AS DateTime2), N'C#', NULL, NULL, 1, N'3', 3)
INSERT [dbo].[Questionpools] ([QuestionpoolId], [QuestionpoolName], [CreatedDate], [LastEdited], [Hastag], [QuestionpoolThumbnailImage], [QuestionpoolThumbnailImageURL], [IsActive], [AccountId], [CourseId]) VALUES (2, N'C++Question', CAST(N'2021-07-27T03:47:37.0000000' AS DateTime2), CAST(N'2021-07-27T03:47:46.0000000' AS DateTime2), N'C++', NULL, NULL, 1, N'4', 4)
INSERT [dbo].[Questionpools] ([QuestionpoolId], [QuestionpoolName], [CreatedDate], [LastEdited], [Hastag], [QuestionpoolThumbnailImage], [QuestionpoolThumbnailImageURL], [IsActive], [AccountId], [CourseId]) VALUES (3, N'C#', CAST(N'2021-07-28T09:55:04.0000000' AS DateTime2), CAST(N'2021-07-28T09:55:04.0000000' AS DateTime2), N'C#', NULL, NULL, 1, N'4', 7)
SET IDENTITY_INSERT [dbo].[Questionpools] OFF
GO
SET IDENTITY_INSERT [dbo].[Quizs] ON 

INSERT [dbo].[Quizs] ([QuizId], [Question], [QuestionType], [QuizImage], [QuizImageLink], [Time], [TopicId], [QuestionpoolId]) VALUES (1, N'This is question 1', NULL, NULL, NULL, 30, NULL, 1)
INSERT [dbo].[Quizs] ([QuizId], [Question], [QuestionType], [QuizImage], [QuizImageLink], [Time], [TopicId], [QuestionpoolId]) VALUES (2, N'Which data type is used to create a variable that should store text?', N'Multiple Choice', NULL, NULL, 60, NULL, 1)
INSERT [dbo].[Quizs] ([QuizId], [Question], [QuestionType], [QuizImage], [QuizImageLink], [Time], [TopicId], [QuestionpoolId]) VALUES (3, N'How do you create a variable with the numeric value 5?', N'Multiple Choice', NULL, NULL, 120, NULL, 1)
SET IDENTITY_INSERT [dbo].[Quizs] OFF
GO
SET IDENTITY_INSERT [dbo].[SubComments] ON 

INSERT [dbo].[SubComments] ([SubCommentId], [SubCommentContent], [SubDatePost], [IsLiked], [LikeCount], [ParentCommentId], [UserId]) VALUES (1, N'<p>Yes!!!</p>
', CAST(N'2021-07-29T10:45:55.0000000' AS DateTime2), 0, 0, 7, 7)
SET IDENTITY_INSERT [dbo].[SubComments] OFF
GO
SET IDENTITY_INSERT [dbo].[SubTopics] ON 

INSERT [dbo].[SubTopics] ([SubTopicId], [SubTopicTitle], [SubTopicNumber], [TopicId]) VALUES (1, N'Subtopic 1', 0, 1)
INSERT [dbo].[SubTopics] ([SubTopicId], [SubTopicTitle], [SubTopicNumber], [TopicId]) VALUES (2, N'Subtopic 1', 0, 2)
INSERT [dbo].[SubTopics] ([SubTopicId], [SubTopicTitle], [SubTopicNumber], [TopicId]) VALUES (3, N'Subtopic 2', 0, 3)
SET IDENTITY_INSERT [dbo].[SubTopics] OFF
GO
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([TopicId], [TopicTitle], [SessionNumber], [LastUpdate], [IsLocked], [CourseId]) VALUES (1, N'Topic 1', 0, CAST(N'2021-07-27T09:51:17.0000000' AS DateTime2), 0, 1)
INSERT [dbo].[Topics] ([TopicId], [TopicTitle], [SessionNumber], [LastUpdate], [IsLocked], [CourseId]) VALUES (2, N'Topic 1.1', 0, CAST(N'2021-07-27T02:29:27.0000000' AS DateTime2), 1, 3)
INSERT [dbo].[Topics] ([TopicId], [TopicTitle], [SessionNumber], [LastUpdate], [IsLocked], [CourseId]) VALUES (3, N'Topic 2', 0, CAST(N'2021-07-27T02:28:35.0000000' AS DateTime2), 0, 3)
SET IDENTITY_INSERT [dbo].[Topics] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[AccountinCourses] ADD  DEFAULT ((0)) FOR [QuizCompleted]
GO
ALTER TABLE [dbo].[AccountinCourses] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsCart]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[AccountinCourses]  WITH CHECK ADD  CONSTRAINT [FK_AccountinCourses_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[AccountinCourses] CHECK CONSTRAINT [FK_AccountinCourses_Accounts_AccountId]
GO
ALTER TABLE [dbo].[AccountinCourses]  WITH CHECK ADD  CONSTRAINT [FK_AccountinCourses_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[AccountinCourses] CHECK CONSTRAINT [FK_AccountinCourses_Courses_CourseId]
GO
ALTER TABLE [dbo].[AccountinLessons]  WITH CHECK ADD  CONSTRAINT [FK_AccountinLessons_Accounts_AccountId1] FOREIGN KEY([AccountId1])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[AccountinLessons] CHECK CONSTRAINT [FK_AccountinLessons_Accounts_AccountId1]
GO
ALTER TABLE [dbo].[AccountinLessons]  WITH CHECK ADD  CONSTRAINT [FK_AccountinLessons_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[AccountinLessons] CHECK CONSTRAINT [FK_AccountinLessons_Lessons_LessonId]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Users_UserId]
GO
ALTER TABLE [dbo].[Choices]  WITH CHECK ADD  CONSTRAINT [FK_Choices_Quizs_QuizId] FOREIGN KEY([QuizId])
REFERENCES [dbo].[Quizs] ([QuizId])
GO
ALTER TABLE [dbo].[Choices] CHECK CONSTRAINT [FK_Choices_Quizs_QuizId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Courses_CourseId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Lessons_LessonId1] FOREIGN KEY([LessonId1])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Lessons_LessonId1]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_UserId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Accounts] ([AccountId])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Accounts_AccountId]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [FK_Lessons_SubTopics_SubTopicId] FOREIGN KEY([SubTopicId])
REFERENCES [dbo].[SubTopics] ([SubTopicId])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [FK_Lessons_SubTopics_SubTopicId]
GO
ALTER TABLE [dbo].[Questionpools]  WITH CHECK ADD  CONSTRAINT [FK_Questionpools_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Questionpools] CHECK CONSTRAINT [FK_Questionpools_Courses_CourseId]
GO
ALTER TABLE [dbo].[Quizs]  WITH CHECK ADD  CONSTRAINT [FK_Quizs_Questionpools_QuestionpoolId] FOREIGN KEY([QuestionpoolId])
REFERENCES [dbo].[Questionpools] ([QuestionpoolId])
GO
ALTER TABLE [dbo].[Quizs] CHECK CONSTRAINT [FK_Quizs_Questionpools_QuestionpoolId]
GO
ALTER TABLE [dbo].[SubComments]  WITH CHECK ADD  CONSTRAINT [FK_SubComments_Comments_ParentCommentId] FOREIGN KEY([ParentCommentId])
REFERENCES [dbo].[Comments] ([CommentId])
GO
ALTER TABLE [dbo].[SubComments] CHECK CONSTRAINT [FK_SubComments_Comments_ParentCommentId]
GO
ALTER TABLE [dbo].[SubComments]  WITH CHECK ADD  CONSTRAINT [FK_SubComments_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[SubComments] CHECK CONSTRAINT [FK_SubComments_Users_UserId]
GO
ALTER TABLE [dbo].[SubTopics]  WITH CHECK ADD  CONSTRAINT [FK_SubTopics_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([TopicId])
GO
ALTER TABLE [dbo].[SubTopics] CHECK CONSTRAINT [FK_SubTopics_Topics_TopicId]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Courses_CourseId]
GO
