.center{
    text-align: center;
}
.button {
    display: inline-block;
    padding: 0 30px;

    text-align: center;
    font-size: 0.85em;
    font-weight: 600;
    letter-spacing: .15rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 1px solid #c7c7c7;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    line-height: 38px;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
}
button.button-primary {
    color: #000;
    background-color: #fff ;
    
}
.button.button-success {
    color: #000;
    background-color: #fff ;
    
    margin-bottom: 10px;
}
.button.button-success:hover {
    color: #fff;
    background-color: #FF9F67 ;
}
.button.button-primary:hover {
    color: rgb(95, 86, 86);
    background-color: #66fa03 ;
   
}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; number of lines to show */
    -webkit-box-orient: vertical;
 }

 .input-group
 {
     height: 50px;
 }
 .input-group input
 {
     height: 40px;
 }
 
 .input-group-text
 {
     height:40px;
     width: 40px;
     cursor: pointer;
 }
 .input-group-text i{
     padding-left: 5px;
 }
 mat-slider {
    width: 300px;
}
.createquiz-1{
    padding: 6px 20px;
    background-color: #66fa03;
    color: #fff !important;
    font-size: 18px !important;
    margin-left: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .createquiz-1 i{
    padding-right: 5px;
  }