<div class="container ">
    <video class="videoipin" playsinline="playsinline" autoplay="autoplay" muted="true" loop="loop">
      <source  src=".../../assets/img/login-bg.mp4" type="video/mp4">
    </video>
  <form id="signup">
    <ul id="section-tabs">
      <li class="current active"><span></span>User</li>
      <li><span></span>Account</li>
     
    </ul>
  <div id="fieldsets">
  <fieldset class="current textcolor">
    <label for="fname">First name:</label>
    <input name="fname" type="text" [(ngModel)]="FirstName" [ngModelOptions]="{standalone: true}"/>
    <label name="lname" for="password">Last name:</label>
    <input type="text" [(ngModel)]="LastName" [ngModelOptions]="{standalone: true}">
    <label name="gender" for="gender">Gender</label>
    <select [(ngModel)] ="UserGender" [ngModelOptions]="{standalone: true}" class="selectGender">
      <option *ngFor = "let gender of genders" [value] = "gender">
          {{gender}}
      </option>
  </select>
    <label class="col-12" name="file" for="file">Avatar</label>
    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
    <label class="col-12" for="email">Email:</label>
    <input name="email" type="email" class="required email" [(ngModel)]="Email" [ngModelOptions]="{standalone: true}"/>
    <label for="phone">PhoneNumber:</label>
    <input type="text" name="phone" [(ngModel)]="PhoneNumber" [ngModelOptions]="{standalone: true}">
    <label class="backtohome"><a routerLink="../">Back to home page</a></label>
    <a class="btn" id="next" style="margin-top:500px;" (click)='createNewUser()'>Next Section ▷</a>
  </fieldset>
  <fieldset class="next textcolor">
    <label for="username">Username:</label>
    <input name="username" type="text" [(ngModel)]="Username" [ngModelOptions]="{standalone: true}">
    <label name="password" for="password">Password:</label>
    <input type="password" minlength="10" class="required" [(ngModel)]="Password" [ngModelOptions]="{standalone: true}">
    <input type="submit" class="btn" (click)='createNewAccount()'>
  </fieldset>
  
  </div>
  <div>
  
  </div>
  </form>
  </div>